<h1>
  List of all movies
</h1>

<hr>

<div>
  <%= link_to "Add a new movie", new_movie_path %>
</div>

<hr>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <% @movies.each do |movie| %>
      <div class="col">
      <%= render partial: "movies/movie_card", locals: { mov: movie}%>
    <% end %>
  </div>
</div>
