<h1>
  List of all directors
</h1>

<hr>

<div>
  <%= link_to "Add a new director", new_director_path %>
</div>

<hr>
<div class="row row-cols-1 row-cols-md-2 g-4">
     <% @directors.each do |director| %>
      <div class="col">
      <%= render partial: "directors/director_card", locals: { dir: director}%>
    <% end %>
  </div>
</div>
